.root {
    /* https://en.wikipedia.org/wiki/Flag_of_the_United_States#Colors
    ToolBar: Old Glory Blue  */
    -primary-swatch-500: #3C3B6E;
}
.charm-list-view .list-cell.header-cell {
    /*  Headers: Old Glory Red */
    -fx-background-color: #B22234;
}
.charm-list-view .list-cell.header-cell > .list-tile > .text-box > .primary-text {
    /* Headers primary text */
    -fx-text-fill: white;
}

.charm-list-view .list-cell.header-cell > .list-tile > .text-box > .secondary-text {
    /* Headers secondary text */
    -fx-text-fill: #FFFFFFDE;
}

