.sliding {
    /* red 400 */
    -fx-background-color: #ef5350;
}

.sliding > .label {
    -fx-text-fill: white;
}

.sliding > .label.not-allowed {
    -fx-text-fill: lightgrey;
}

.sliding:left {
    /* light-green 400 */
    -fx-background-color: #9ccc65; 
}

.list-tile {
    -fx-padding: 3.84mm;
}

.list-tile > .text-box {
    -fx-font-size: 1.1em;
    -fx-spacing: 2mm;
}

.list-cell .tile {
    -fx-background-color: white;
}
.list-cell:selected .tile {
    -fx-background-color: #f3f3f3;
}

.dialog {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.avatar {
    -charm-radius: 22;
}

.avatar.tablet {
    -charm-radius: 31;
}

.avatar > .decoration {
    -fx-stroke: -primary-swatch-700; 
    -fx-stroke-width: 1;
}