.navigation-drawer.header > .header-content {
    -fx-background-color: -primary-swatch-700;
}

.avatar > .decoration {
    -fx-stroke: transparent;
    -fx-stroke-width: 2;
}
.avatar:hover > .decoration {
    -fx-stroke: #ffffff30;
}